.Loader {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iphoneSpinner {
	height: fit-content;
	width: fit-content;
}